<div class="container p-5">
  <h5 class="text-primary">Introduction</h5>
  <p>
    Angular is an open source javascript framework, it is used to make SPAs
    (single page applications). <br />
    Angular is created and maintained by Google and is completely written in
    typescript which is a superset of javascript.<br />There are many versions
    available in angular, Angularjs is the first version of angular which is
    written in javascript. Learn more about angular
    <a href="https://angular.io/guide/what-is-angular">here..</a>
  </p>
  <p>
    <span class="text-primary">Angular versions:</span>
    <code>
      Angularjs->(Angular2->Angular19)->Angular20 </code><span class="text-primary">&nbsp;(to be stable)</span>

  </p>
  <h5 class="text-primary">Features</h5>
  <ol>
    <li>It is used to create SPA</li>
    <li>It has two way databinding feature</li>
    <li>It is written in typescript</li>
    <li>It has powerful command line interface (angular cli)</li>
    <li>It is component based framework</li>
    <li>It is fast in performance</li>
  </ol>
  <h5 class="text-primary">Companies using Angular (SPAs)</h5>
  <ol>
    <li>Gmail</li>
    <li>UpWork</li>
    <li>PayPal</li>
    <li>Microsoft office</li>
    <li>Samsung</li>
  </ol>
  <h5 class="text-primary">
    Prerequisite softwares/technologies required for angular development
  </h5>
  <table class="table table-bordered border-light">
    <tr>
      <th>Tools and technologies</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Nodejs</td>
      <td>
        It is an opensource js frontend enviornment, it converts js to ts, using
        npm. Download from<a href="https://nodejs.org/en/download/">here</a>
      </td>
    </tr>
    <tr>
      <td>HTML5</td>
      <td>
        It is a markup language to design web pages<a href="https://www.w3schools.com/html/default.asp">learn HTML
          here</a>
      </td>
    </tr>
    <tr>
      <td>CSS3</td>
      <td>
        It is used to style html pages<a href="https://www.w3schools.com/css/default.asp">learn css here</a>
      </td>
    </tr>
    <tr>
      <td>JavaScript</td>
      <td>
        You must have basic knowledge of js to use angular application<a
          href="https://www.w3schools.com/js/default.asp">learn js here</a>
      </td>
    </tr>
    <tr>
      <td>VS code</td>
      <td>
        A code editor to write application level programming<a href="https://code.visualstudio.com/download">Download
          from here</a>
      </td>
    </tr>
    <tr>
      <td>Git/GitHub</td>
      <td>
        It is versioning controling tool to manage and store source code into
        repositories
      </td>
    </tr>
  </table>
</div>