<div class="container p-5">
  <div class="row">
    <div class="col-md-12">
      <h5>
        Forms are used to collect data from users. Angular supports 2 types of
        forms i,e Template driven forms and Model driven forms (reactive forms).
      </h5>
      <h5 class="text-primary pt-3">Template Driven forms</h5>
      <p>
        They are the basic type of forms which are easy to create. The business
        logic is placed inside the HTML template. They are suitable for simple
        forms and are require less validation.
      </p>
      <button class="btn btn-primary" (click)="openTDF()">Open TDF</button>

      <h5 class="text-danger pt-4">Model Driven forms</h5>
      <p>
        They are also called Reactive forms. The business logic is placed inside
        the typescript component.They are robust, scalable, reusable and
        testable. They are suitable for complex forms and are require strong
        validations.
      </p>
      <button class="btn btn-danger" (click)="openMDF()">Open MDF</button>

      <h5 class="pt-4">Angular form teminologies</h5>
      <table class="table table-bordered border-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><code>FormControl</code></td>
          <td>
            A FormControl represents a single input field in an Angular form. It
            Tracks the value and validation status of each of these control.
          </td>
        </tr>
        <tr>
          <td><code>FormGroup</code></td>
          <td>
            FormGroup is a collection of FormControls . Each FormControl is a
            property in a FormGroup, with the control name as the key. A typical
            Angular Form can have more than one FormGroup. A FormGroup can also
            contain another FormGroup.
          </td>
        </tr>
        <tr>
          <td><code>FormArray</code></td>
          <td>
            FormArray is an array of form controls. It is similar to FormGroup
            except for one difference. In FormGroup each FormControl is a
            property with the control name as the key. In FormArray is an array
            of form controls.
          </td>
        </tr>
        <tr>
          <td><code>FormBuilder</code></td>
          <td>
            The FormBuilder is the helper API to build forms in Angular. It
            provides shortcuts to create the instance of the FormControl,
            FormGroup or FormArray. It reduces the code required to write the
            complex forms.
          </td>
        </tr>
        <tr>
          <td><code>ngSubmit</code></td>
          <td>
            The ngSubmit() method is called when the ‘submit’ event is triggered
            on the ngForm.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
