<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/home">
      <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="logo" width="30" height="28"
        class="d-inline-block align-text-top" />
      {{ appTitle }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-white">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bindings" routerLinkActive="active">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/directives" routerLinkActive="active">Directives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pipes" routerLinkActive="active">Pipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/communication" routerLinkActive="active">Communication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forms" routerLinkActive="active">Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rxjs" routerLinkActive="active">Rxjs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/miscellanous" routerLinkActive="active">Miscellanous</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>