<div class="container p-5">
  <div class="row">
    <div class="col-md-12">
      <h5 class="pb-3">Template Driven form</h5>
      <form
        class="row g-2 p-4 bg-light rounded"
        #userForm="ngForm"
        (ngSubmit)="submitForm()"
      >
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input
            type="name"
            name="name"
            class="form-control"
            id="name"
            ngModel
            required
            #name="ngModel"
          />
          <small class="text-danger" *ngIf="name.touched && name.invalid"
            >Please enter user name</small
          >
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="inputEmail4"
            ngModel
            required
            email
            #email="ngModel"
          />
          <small class="text-danger" *ngIf="!email.valid && email.touched"
            >Please enter a valid mail</small
          >
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            name="password"
            ngModel
            required
          />
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input
            type="text"
            name="city"
            class="form-control"
            id="inputCity"
            ngModel
            required
          />
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" name="state" class="form-select" ngModel>
            <option selected>Choose...</option>
            <option *ngFor="let state of states">{{ state }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputZip" class="form-label">Zip</label>
          <input
            type="text"
            name="zip"
            class="form-control"
            id="inputZip"
            ngModel
            required
          />
        </div>

        <div class="col-12 pt-2">
          <button
            type="submit"
            class="btn btn-danger"
            [disabled]="!userForm.valid"
          >
            Submit
          </button>
        </div>
      </form>

      <div class="col-md-12 pt-3" *ngIf="submitted">
        <h5>Form Values</h5>
        <p>
          Name: <strong>{{ formData.name }}</strong>
        </p>
        <p>
          Email: <strong>{{ formData.email }}</strong>
        </p>
        <p>
          Password: <strong>{{ formData.password }}</strong>
        </p>
        <p>
          City: <strong>{{ formData.city }}</strong>
        </p>
        <p>
          State: <strong>{{ formData.state }}</strong>
        </p>
        <p>
          Zip: <strong>{{ formData.zip }}</strong>
        </p>
      </div>
    </div>
  </div>
</div>
